<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "My Profile", user_profile_index_path, :method => :get %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
</ul>